body{
    text-align: center;
}

.square{
    text-align: center;
    width: 50px;
    background: #ccc;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #ccc;
}

.player, .winner{
    font-size: 30px;
    margin-top: 18px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #ccc;
    cursor: pointer;
}